<!doctype html>
<html>
<head>
  <title>Movie</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>

  <main class="Valleys-main">

    <article class="valleys-card">
        <a href="./channels">
        <img class="valleys-card-image" src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479665518/channel_button_pq13ah.jpg">
        </a>
    </article>

    <article class="valleys-card">
      <a href="./movies/">
      <img class="valleys-card-image" src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479665520/movie_button_bjmi4p.jpg">
      </a>
    </article>

    <article class="valleys-card">
      <a href="./movies/new">
      <img class="valleys-card-image" src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479665516/add_movie_button_bhxuui.jpg">
      </a>
    </article>


  </main>

  <footer class="footer">
    <p>© MovieVault | <font color="#cee6ea">Site powered by Localhost</font></p>
  </footer>


</body>
</html>
