.box {
  width: 100px;
  height: 100px;
  padding: 50px;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: #fff
  padding: 5px;
  background: #59747f;
}

.header {
  font-size: 15px;
  color: #72B895;
  max-width: 1400px;
  margin: 0px;
  text-align: left;
  display:flex;
  justify-content: space-between;
  align-items: left;
}

.nav-item {
  margin-right: 100px;
}

.Valleys-main {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-title {
  margin: 20px;
  color: #74bcc9;
  text-align: center;
}

.navbar {
  list-style-type: none;
  padding: 5px;
  margin: 20px;
  text-align: right;
  color: #fff;
}

.nav-item {
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.banner {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background: #2c4156;
}


a:hover {
}

.banner-title {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: #74bcc9;
}

.banner-subtitle {
  color: #cee6ea;
  margin: 50px.
  padding: 100px.
}

.valleys-card {
  width: calc(33% - 90px);
  align-self: stretch;
  background: #2c4156;
  height: 250px;
  padding: 10px;
  margin: 10px;
}

.valleys-card-image {
  opacity:1;
  justify-content: center;
  align-self: stretch;
  width: 80%;
  height: 80%;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hub_button :hover{
opacity:1;
}

.valleys-card-title {
  text-align:left;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  margin: 0;
}

.links {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.footer {
font-family: 'Open Sans', sans-serif;
text-align: center;
background: #59747f;
color: #cee6ea;
}
